@page "/upload"
@inject TradeService TradeService

<PageTitle>File Upload</PageTitle>

<div class="container-fluid">


    <InputFile OnChange="@LoadFiles" multiple />


</div>


@code {
    private InputFile? fileInput;
    private IBrowserFile? selectedFile;
    private bool isDragOver = false;
    private bool isUploading = false;
    private string uploadMessage = "";
    private bool uploadSuccess = false;
    private int fileInputVersion = 0;
    private int fileBrowserVersion = 0;


    private void LoadFiles(InputFileChangeEventArgs e)
    {
    }


}