<div class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="bi bi-graph-up-arrow" aria-hidden="false"></span> Bullear
        </a>
        
        <nav class="nav flex-row">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="false"></span> Dashboard
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="markets">
                    <span class="bi bi-graph-up" aria-hidden="false"></span> Markets
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="portfolio">
                    <span class="bi bi-briefcase-fill" aria-hidden="false"></span> Portfolio
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="watchlist">
                    <span class="bi bi-eye-fill" aria-hidden="false"></span> Watchlist
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="orders">
                    <span class="bi bi-list-check" aria-hidden="false"></span> Orders
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="news">
                    <span class="bi bi-newspaper" aria-hidden="false"></span> News
                </NavLink>
            </div>
        </nav>
    </div>
</div>

